<h1>About the Movie and TV database</h1>
<p class = "subline">Everything you wanted to know and things you didn't!</p>
<div class="special-message">
  <p>This movie database was intented to be visual. It is a project that tests the use of an external API. For this study, it takes advantage of a community data feed from MovieDB and international data source. The data from this database is community owned. All the data listed from this datasource has been curated by a community that dates back to 2008.</p>
  <p>Every year the main database has increased, including the people that work to keep it updated with information. </p>
  <p>The representation of the data on this website is just for experimental purposes only, but if you want to explore the database more extensively, please see: <a href="http://www.themoviedb.org">http://www.themoviedb.org</a>.</p>
</div>  <!-- special-message -->
<p class = "page-pad-20rem"></p>
