<h1>Contact Us</h1>
<p class="subline">Do you want to hear more?</p>
<div class="contact-me">
  <div class="my-image">
    <%= image_tag("christopher-bazin.jpg", :alt => "Image of Christopher Bazin") %>
  </div>  <!-- my-image -->
</div>  <!-- contact-me -->
<div class="special-message">
  <p>Hi, my name is Christopher. This project was created to test my skills using Rails, Ruby and API access.</p>
  <p>If you want to get a hold of me you can reach me through my LinkedIn profile at <a href="https://www.linkedin.com/in/cbazin/">https://www.linkedin.com/in/cbazin/</a> and shoot me a message.</p>
  <p>Checkout my github profile too! <a href="https://github.com/robotscissors">https://github.com/robotscissors</a>
</div>  <!-- special message -->
<div style="clear:both"></div>
