<h1>Welcome#index</h1>
<p>These are the most popular TV results</p>
  <% @popular_tv.each do |program| %>
    <%= program['original_name'] %><br/>
    <%= image_tag("https://image.tmdb.org/t/p/w200/#{program['poster_path']}", :alt => "Image of #{program['original_name']}") %><br/>
  <% end %>
