/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 /* color palet-> Blueberry #687A8F, Apricot #F7882F, Citrus #F7C331, AppleCore #DCC7AA */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%; /* makes sure our HTML takes up 100% of the browser window */
  font-size: 100%;
}
ul, nav{
  list-style: none;
}
body {
  font-family: 'Oswald','Open Sans'; /* sets our font to the "Open Sans" typeface */
  color: black;             /* sets the text color to white */
  min-height: 100%;
  background-color: #DCC7AA;/* says the height of the body must be, at minimum, 100% of the window */
}
/*--------------
header
----------------*/
header {
  background-color: #687A8F;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  align-items: center;
  padding: 35px 100px 20px;
  display: flex;
  justify-content: space-around;
}
header nav {
  display: flex;
  li {
    margin:0 15px;
    font-size: 1.3rem;
  }
   li:first-child {
    margin-left:0;
  }
  li:last-child {
    margin-right:0;
    margin-left: 75px;
  }
}

header h2 {
  font-family: 'Anton', sans-serif;
  position: relative;
  left: 2.2rem;
  color: #ffffff;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
header .tag-line{
  color: #F7882F;
  font-size: 1rem;
  margin-left: 0;
  margin-top: 0;
}
header {
  .btn-submit{
    color: #F7882F;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .text-field{
    padding: 3px;
    width: 250px;
    border-radius: 1px;
    border:0px;
    font-size: 1.2rem;
  }
}

.main {
  padding-top: 150px;
  width: 75%;
  margin: 0 auto;
}

section {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

p {
  font-family: 'Oswald','Open Sans';
}

h1, h2 {
  font-family: 'Anton', sans-serif;
}
h1 {
  font-size: 4rem;
  margin-bottom: 4px;
}
/*--------------
footer
--------------*/
footer {
  display:flex;
  flex-direction: column;
  background-color: #687A8F;
  color: #000;
  padding: 40px 0;
  top-margin: 50px;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}
@media(max-width: 1000px){
  header {
      padding: 35px 50px;
  }
}

@media(max-width: 700px){
  header {
      flex-direction: column;
    h2 {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
}
