// Place all the styles related to the person controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.details {
  width: 100%;
  p{
    padding-top:5px;
  }
  h2{
    font-size: 2rem;
  }
}
.detail-image {
  float: right;
  padding: 0px 5px 50px 50px;
}

.series-info {
  padding-left: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  padding-top: 20px;
}

.profile-image {
  width: 200px;
  position: relative;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 10px;
  font-size: 1rem;
  color: #fff;
  display: block;
  background-color: rgba(0,0,0,.8);
  overflow:hidden;
  padding: 0px 10px 0px 5px;
}


@media(max-width: 1260px){
  .detail-image {
    width:100%;
    padding: 0px 40px 50px 40px;
    margin: auto;
    display: block;
  }
}
