// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.popularX5 {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.poster {
  padding: 0px 0px 5px 0px;
}
.profile-image {
  width: 200px;
  position: relative;
}
.bottom-left {
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 1rem;
  color: #fff;
  display: block;
  background-color: rgba(0,0,0,.8);
  overflow:hidden;
  padding: 0px 10px 0px 5px;
}
