<h1>TV's Most Popular Shows</h1>
<p class="subline">Ranked by people like you!</p>
<div class = "popularX5">
<% @all_tv_programs.each do |program| %>
  <%= link_to image_tag("https://image.tmdb.org/t/p/w200/#{program['poster_path']}", :alt => "Image of #{program['original_name']}"), root_url + 'tv/show?' + {tv_id: program['id']}.to_param, method: :get %>
<% end %>
</div>
<div class="more">
  <%= link_to "Back", root_url + 'tv/index?' + {page: @back_page, param: @sort}.to_param, class: "previous", method: :get if @back_page %>
  <%= link_to "Next", root_url + 'tv/index?' + {page: @next_page, param: @sort}.to_param, class: "next", method: :get %>
</div>
